.viewParentDiv {
  padding-top: 4em;
  padding-bottom: 4em;
  width: 100%;
  display: flex;
  background-color: rgba(221, 221, 221, 0.212);
}
.viewParentDiv .imageShowDiv {
  padding: 16px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 1rem;
  overflow: hidden;
}
.viewParentDiv .imageShowDiv img {
  width: 50%;
}

.viewParentDiv .rightSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10rem 0 0;
  margin-top: 3em;
  width: 50%;
}

.viewParentDiv .rightSection .productDetails :first-child {
  font-weight: 700;
  margin-bottom: 8px;
  color: #002f34;
  font-size: 34px;
  line-height: 32px;
  margin-bottom: 20px;
}

.viewParentDiv .rightSection .productDetails {
  border: 1px solid black;
  padding: 6px;
  border-radius: 6px;
  margin-bottom: 2em;
  width: 60%;
  background-color: #fff;
}

.viewParentDiv .rightSection .contactDetails {
  width: 60%;
  border: 1px solid black;
  padding: 6px;
  border-radius: 6px;
  background-color: #fff;
}

.viewParentDiv .rightSection .contactDetails :first-child {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #002f34;
  font-weight: 400;
  padding: 0;
}

@media screen and (max-width: 700px){
  .viewParentDiv {
    flex-direction: column;
  }
  .viewParentDiv .rightSection,
  .viewParentDiv .imageShowDiv{
    width: 100%;
  }
  .viewParentDiv .rightSection{
    padding: 1rem 1rem;  
    margin-top: 0em;
  }
  .viewParentDiv .imageShowDiv img{
    width: 100%;
  }
  .viewParentDiv .rightSection .contactDetails,
  .viewParentDiv .rightSection .productDetails{
    width: 100%;
  }
}